@import '~content-kit-editor/dist/css/content-kit-editor.css';

* {
  &,
  &:after,
  &:before {
    box-sizing: border-box;
  }

  font-family: sans-serif;
}

body {
  background-color: #f3f3f3;
  padding: 10px 20px;
}

header {
  .subheader {
    color: #565656;
  }
}

.editor-wrapper {
  min-height: 200px;
  border: 1px solid #ccc;
  margin-bottom: 40px;

  .toolbar {
    border-bottom: 1px solid #ccc;
    background-color: #fff;

    .toolbar-button {
      display: inline-block;
      height: 30px;
      min-width: 30px;
      text-align: center;
      padding: 4px 6px;
      cursor: pointer;
      background-color: #fff;
      border: 0;
      font-size: 0.9em;
      outline: 0;

      &:hover,
      &.active {
        background-color: #ccc;
      }
    }

    .toolbar-separator {
      width: 1px;
      border-right: 1px solid #aaa;
      margin: 0 4px;
    }

    .toolbar-link-tooltip {
      z-index: 1000;

      i {
        cursor: pointer;
        font-size: 1.4em;
        margin: 0 5px;

        &.confirm:hover {
          color: #4DB3A2;
        }

        &.cancel:hover {
          color: #F3565D;
        }
      }
    }
  }

  .editor {
    min-height: 200px;
    margin: 0;
    padding: 12px;
    background-color: #fff;

    p {
      margin-top: 0;
    }

    .image-card {
      position: relative;

      .remove-button {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        text-align: center;
        border: 1px solid #fcfcfc;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        color: #fff;
        cursor: pointer;
        line-height: normal;
        font-size: 14px;
      }
    }
  }

  .link-button-wrapper {
    display: inline-block;
    position: relative;

    .toolbar-link-tooltip {
      top: 31px;
      left: calc(-99px + 50%);
    }
  }

  .toolbar-dropdown-wrapper {
    display: inline-block;

    &.open {
      .toolbar-button {
        background-color: #ccc;
      }

      .toolbar-dropdown-menu {
        display: block;
      }
    }

    .toolbar-dropdown-menu {
      position: absolute;
      border: 1px solid #ccc;
      z-index: 1000;
      background-color: #fcfcfc;
      display: none;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          cursor: pointer;
          padding: 5px 15px;

          &:not(:last-child) {
            margin-bottom: 8px;
          }

          &.active {
            font-weight: 600;
          }

          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }
}

.rendered-content-wrapper,
.mobiledoc-output-wrapper {
  border: 1px solid #ccc;
  padding: 12px;
  background-color: #fff;
}

.rendered-content-wrapper {
  margin-bottom: 40px;
}

.rendered-content {
  img {
    max-width: 100%;
  }
}

.upload-progress {
  height: 6px;
  border: 1px solid #ccc;
  border-bottom: 0;

  .progress {
    height: 100%;
    background-color: steelblue;
  }
}
